/* Ecran inventaire */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    border-style: none;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(50,50,50); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal p {
    font-size: 3vh;
}
  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: black;
    font-size: 3vh;
}

.modal-header h2 img {
    width: 5vh;
    margin-right: 8px;
    vertical-align: middle;
}
  
/* Modal Body */
.modal-body {padding: 2px 16px;}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: transparent;
    color: black;
    font-size: 3vh;
}
  
/* Modal Content */
.modal-content {
    color: black;
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    border: none;
    width: 50%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-image: url("../images/paper.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
/* The Close Button */
.close {
    color: rgb(55, 15, 15);
    float: right;
    font-size: 6vh;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(125,65,65);
    text-decoration: none;
    cursor: pointer;
}
#inventaire {
    color: ivory;
    font-size: 6vw;
    width: 90%;
    height: 90vh;
    margin-top : 4vh;
}

.three-columns {
    display: flex;
    flex-direction: row;
    color: ivory;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
}

.three-columns div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:ivory;
    border-style: solid;
    margin:2px;
}

.three-columns em {
    font-size: 3vw;
    font-family: Medieval;
    font-weight: normal;
}

.two-columns {
    display: flex;
    /*height: 80vh;*/
    flex-direction: row;
    color: ivory;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.1);
}

.two-columns div {
    flex: 1;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: left;
    border:ivory;
    border-style: solid;
    margin: 2px;
}

.two-columns .half {
    border-style: none;
    flex-direction: row;
    padding: 0;
}

.two-columns em {
    font-size: 3vw;
    font-family: Medieval;
    font-weight: normal;
}

.two-columns b {
    font-size: 4.5vw;
    text-align: center;
}

.two-columns span {
    font-family: Medieval;
    font-size: 2.5vw;
    font-weight: normal;
}
.two-columns a {
    font-family: Medieval;
    font-size: 2.5vw;
    font-weight: normal;
    cursor: pointer;
}
.two-columns i {
    font-family: Medieval;
    font-size: 2.5vw;
    font-weight: normal;
    font-style: normal;
    display: contents;
}

#divers {
    border : none;
}

#objets {
    height: 80vh;
    border: none;
}

@media screen and (min-width: 600px) {
    .three-columns {
        display: none;
    }
    .two-columns em {
        font-size: 2vw;
    }
    .two-columns span {
        font-size: 2vw;
    }
    .two-columns a {
        font-size: 2vw;
        cursor: pointer;
    }
    #statsLarge {
        display: flex;
        border: none;
    }
}

@media screen and (min-width: 900px) {
    .two-columns {
        font-size: 2.5vw;
    }
    .two-columns em {
        font-size: 1.5vw;
    }
    .two-columns b {
        font-size: 4vw;
        text-align: center;
    }
    .two-columns span {
        font-size: 1.5vw;
    }
    .two-columns a {
        font-size: 1.5vw;
    }
    .two-columns i {
        font-size: 1.5vw;
    }
    #statsLarge {
        display: flex;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .three-columns {
        display: flex;
    }

    #statsLarge {
        display: none;
    }
}