/* Thin Scrollbar FF */
:root{
       scrollbar-color: rgb(81, 27, 2) rgba(0, 0, 0, 0.5) !important;
       scrollbar-width: thin !important;
}
/* Scrollbar styles Chrome */
::-webkit-scrollbar {
       width: 12px;
       height: 12px;
}

::-webkit-scrollbar-track {
       border: 1px solid rgb(61, 27, 2);
       border-radius: 15px;
}

::-webkit-scrollbar-thumb {
       background: rgb(61, 27, 2);
       border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
       background: rgb(71, 37, 12);
}

@font-face {
       font-family: "Medieval";
       src: url("BLKCHCRY.TTF") format("truetype");
}

html {
       background-color: #AB936B;
       background-image: url("../images/parchment.jpg");
       background-repeat: repeat;
       scroll-behavior: smooth;
}

body {
       font-family: 'Medieval', cursive;
       width: 100%;
       height: 100%;
       margin: 0;
       padding: 0;
}

.noselect {
       user-select: none;
}

.invisible {
       visibility: hidden;
}

#introduction, #rules {
       color: black;
       margin-left : 2vw;
       margin-right: 2vw;
       margin-top: 2vh;
       margin-bottom: 2vh;
       text-align: justify;
       font-size: 4vh;
}
#introduction span, #rules span {
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
}

h1{
       color: black;
       font-size: 7vh;
       text-align: center;
}
h2{
       color: firebrick;
       font-size: 5vh;
       text-align: center;
}
#introduction img{
       max-height: 80vh;
       margin: auto;
       vertical-align: top;
}
.floated{
       float:right;
       margin-left: 1vw;
}

/* -------------------------------------- */
.decor {
       /* Full height */
       
       position: absolute;
       height: 100%;
       width: 100%;

       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

       /* background-image: url("../images/decor/bear.jpg"); */
}

.decor img {
       position: absolute;

       object-fit: cover;
       object-position: center;
       height: 100%;
       width: 100%;

       -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
       transition: opacity 1s ease-in-out;

       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.decor img.transparent {
       opacity: 0;
}

/* -------------------------------------- */

.lifeContainer {
       display: flex;
       z-index: 1;
       position: relative;
       margin-left: 10px;
       margin-right: 10px;
       max-width: 80%;
}

#backpack {
       position: absolute;
       top: 0;
       right: 0;
       z-index: 1;
}

#backpack button {
       background-color: rgba(0, 0, 0, 0.493);
       backdrop-filter: blur(2px);
       border: none;
       cursor:pointer;
       margin: 5px;
}

#backpack button:hover {
       background-color: rgba(43, 22, 2, 0.541);
}

#backpack button:active {
       transform: translateY(1.5vh);
       transition-duration: 0.2s;
}

#backpack button img {
       width: 5vh;
       height: auto;
}

#backpack button img:hover {
       filter: drop-shadow(1px 1px 1px white);
}

.heart {
       font-size: 2vw;
       background: #FC1D0D;
       background: -webkit-linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       background: -moz-linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       background: linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       
       padding-right: 3px;
}

#histoire {
       text-align: justify;
       height: fit-content;
       margin-left: 2vh;
       margin-right: 2vh;
       margin-top: 1vh;
       font-size: 4vh;
       border-radius: 15px;
       background-color: rgba(0, 0, 0, 0.493);
       backdrop-filter: blur(2px);
       box-shadow: -11px 11px 23px 14px rgba(0, 0, 0, 0.71);
       -webkit-box-shadow: -11px 11px 23px 14px rgba(0, 0, 0, 0.71);
       -moz-box-shadow: -11px 11px 23px 14px rgba(0, 0, 0, 0.71);
}

#histoire p {
       color: cornsilk;
}

#life {
       /*z-index: 1111;*/
       color: white;
}

#choix {
       
       float: right;
       text-align: center;
       height: fit-content;
}

.ulChoix {
       /*display: flex;
       flex-direction: column;*/
       font-size: 3.5vh;
       list-style: none;
       padding-right: 3vh;
       padding-left: 3vh;
       margin: 0;
}

.liChoix {
       background-color: rgba(0, 0, 0, 0.493);
       margin-bottom: 3vh;
       color: cornsilk;
       cursor: pointer;
       border-radius: 1vh;
       
       backdrop-filter: blur(2px);
       padding: 2px 1vw;
       box-shadow: -11px 11px 23px 0px rgba(0, 0, 0, 0.71);
       -webkit-box-shadow: -11px 11px 23px 0px rgba(0, 0, 0, 0.71);
       -moz-box-shadow: -11px 11px 23px 0px rgba(0, 0, 0, 0.71);

       opacity:0;
       transition:opacity 1s;
       -webkit-transition:opacity 1s;
       -moz-transition:opacity 1s;
}

.fadeIn {
       opacity: 1;
}

#container {
       display: flex;
       height: 80vh;
       flex-direction: column;
       z-index: 0;
       position: relative;
       justify-content: space-around;
       align-items: center;
       margin: auto;
}

#choix li:hover {
       border-color: rgb(41, 22, 3);
       background-color: rgba(43, 22, 2, 0.541);
       /*transition-duration: 0.1s;
       /*transform: translateX(-3vh);*/
       box-shadow: rgba(0, 0, 0, 0.589) 1vh 1vh 1vh;
}

#choix li:active {
       transform: translateY(1.5vh);
       border-radius: 5%;
       transition-duration: 0.5s;
}

#taler {
       display: none;
}

@media screen and (min-width: 1200px) and (min-height: 730px) {

       #container {
              max-width: 50%;
       }

       #taler {
              display: block;
              z-index: 100;
              width: 113px;
              height: 113px;
              position: fixed;
              top: 80%;
              left: -11%;
              padding-right: auto;
       }

       #gandalf {
              width: 100%;
              height: 100%;
              z-index: auto;
              border-radius: 50%;
       }

       #one {
              width: 22px;
              height: 14px;
              position: relative;
              bottom: 56px;
              left: 2px;
       }
}


@media screen and (max-width: 600px) {

       #histoire {
              font-size: 3vh;
       }

       #backpack button img {
              width: 6vh;
       }

       /*li {
              font-size: 2vw;
       }*/

       #taler {
              display: none;
       }
       .floated {
              float: none;
       }
       .buttonsStart {
              flex-direction: column;
       }

}

@media screen and (min-width: 600px) {

       #container {
              max-width: 90%;
       }

       .floated{
              float:none;
              text-align: center;
       }

}