body, html {
       /* background: rgb(0,0,0);
       background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(13,45,75,1) 64%);    */
       font-family: 'Times New Roman', Times, serif;
       height: 100%;
       margin: 0;
}

/* -------------------------------------- */
.decor {
       /* Full height */

       position: absolute;
       height: 100%;
       width: 100%;

       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;

       /* background-image: url("../images/decor/bear.jpg"); */
}

.decor img {
       position: absolute;

       object-fit: cover;
       object-position: center;
       height: 100%;
       width: 100%;

       -webkit-transition: opacity 1s ease-in-out;
       -moz-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
       transition: opacity 1s ease-in-out;

       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.decor img.transparent {
       opacity: 0;
}

/* -------------------------------------- */

.heart {
       font-size: 2em;
       background: #FC1D0D;
       background: -webkit-linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       background: -moz-linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       background: linear-gradient(to bottom, #FC1D0D 0%, #960F0D 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       padding-right:3px;
   }
   @media screen and (max-width: 600px) {
       .heart {
           font-size: 1em;
       }
   }

#histoire {
       text-align: center;
       height: fit-content;
       margin-left: 2vh;
       margin-right: 2vh;
       margin-top: 1vh;
       font-size: 30px;
       float: left;
       border-radius: 15px;
       border: solid 0.5vh;
       border-color: rgb(61, 27, 2);
       background-color: rgba(0, 0, 0, 0.493);
}

#histoire p {
       color: cornsilk;
}

#life {
       z-index: 1111;
       color: white;
}

#choix {
       font-size: 20px;
       float: right;
       text-align: center;
       height: fit-content;

}

ul {

       list-style: none;
       padding-right: 3vh;
       padding-left: 3vh;
}

li {
       border: solid;
       border-width: 5px;
       border-color: rgb(61, 27, 2);
       background-color: rgba(0, 0, 0, 0.493);
       margin-bottom: 3vh;
       color: cornsilk;
       cursor: pointer;
       border-radius: 15px;


}

#container {
       display: flex;
       flex-direction: column;
       z-index: 10;
       position: relative;
}

.lifeContainer {
       display: flex;
       z-index: 10;
       position: relative;
       margin-left: 1.5vw;
}



li:hover {
       border-color: rgb(41, 22, 3);
       background-color: rgba(43, 22, 2, 0.541);
       transition-duration: 1s;
       transform: translateX(-3vh);
       box-shadow: rgba(0, 0, 0, 0.589) 1vh 1vh 1vh;
}

li:active {
       transform: translateY(1.5vh);
       border-radius: 5%;
       transition-duration: 0.5s;
}



@media screen and (min-width: 1500px) {
       #body {
              background: rgb(0, 0, 0);
              background: linear-gradient(90deg, rgba(0, 0, 0, 1) 8%, rgb(11, 41, 70) 79%, rgb(41, 28, 7) 100%);
       }

       #container {
              padding-top: 8vh;
              flex-direction: row;
              justify-content: space-around;
       }

       #histoire {
              max-width: 50%;
       }

       #histoire p {
              font-size: 45px;
              margin-left: 10vh;
              margin-right: 15vh;
       }

       #choix {
              font-size: 35px;
       }


       li {
              margin-right: 3vh;
       }
}