body{
       background: rgb(0,0,0);
       background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(13,45,75,1) 64%);   

      
      
      font-family:'Times New Roman', Times, serif;
}

#histoire{
       text-align: center;
       height: fit-content;
       margin-left: 2vh;
       margin-right: 2vh;
       margin-top: 1vh;
       font-size: 30px;
       float:left;
       border: solid 0.5vh; 
       border-color:rgb(61, 27, 2);
       background-color: rgba(0, 0, 0, 0.493);
       
       
       

}
#histoire p{  color:cornsilk; 

              
              
} 

#choix{
       font-size: 20px;
       float:right;
       text-align: center;
       height: fit-content;
}
ul{
       
       list-style: none;
       padding-right: 3vh;
       padding-left: 3vh;
}

li{
       border: solid;
       border-width: 5px;
       border-color:rgb(61, 27, 2);
       background-color: rgba(0, 0, 0, 0.493);
       margin-bottom: 3vh ;
       color:cornsilk; 
       cursor: pointer;
      
} 

#container{
       
       display:flex;
      flex-direction: column;  
}
@media screen and (min-width: 1800px)
{ 
       #body{
              background: rgb(0,0,0);
       background: linear-gradient(90deg, rgba(0,0,0,1) 8%, rgb(11, 41, 70) 79%, rgb(41, 28, 7) 100%);   
              
              
            
       }
       #container{
       
             padding-top: 12vh;
             flex-direction: row;  
       }   

       #histoire{
              max-width: 50%;
       }
       
       #histoire p{
              font-size: 45px;
              margin-left: 10vh;
              margin-right: 15vh;
                            
              
       }

       #choix {
              font-size: 35px;
              
              
       }
      

       li{
              
              margin-right: 3vh;
       }
}

li:hover{
       border-color:rgb(41, 22, 3);
      background-color: rgba(43, 22, 2, 0.541);
      transition-duration: 1s;
      transform: translateX(-3vh);
      box-shadow: rgba(0, 0, 0, 0.589) 1vh 1vh 1vh; 

      
       
} 

li:active {
                transform: translateY(1.5vh);
                border-radius: 5%;
                transition-duration: 0.5s;
              
        
}

#taler{
       width:220px;
       height:220px;
       margin-top: 5px;
       margin-left: 5px;
       position:absolute;
       position: 10px;
}
